.Toolbar{
    height: 72px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    border-bottom: solid 3px #6699c9be;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color:orangered;
    box-sizing: border-box;
    z-index: 90;

}

.Toolbar nav{
    height: 100%;
}
.Logo img{
    height: 30%;
    width:30%
}

@media(max-width:499px){
    .DesktopOnly {
        display: none;
    }
   
    
}