.GetSupport{
    color:rgb(255, 255, 255);
    background-color: rgb(168, 191, 207);
    width: 100%;
    font-size: 2em;
    text-align: center;
}
.GetSupport p span{
    color:rgb(255, 255, 255);
    background-color: rgb(131, 59, 37);
    padding: 10px;

}