.Layout{
    width:100%;
    margin: 0px auto;
    background-color: white;
    padding: 0px;
    margin-top: 72px;
    height: 100%;
    color: whitesmoke;
}
.Green{
    background-color: rgb(107, 83, 4);
    width:80%;
    margin: 0 auto;
    padding: 10px;
    color: whitesmoke;

}
.Brown{
    background-color: rgb(146, 13, 106);
    width:80%;
    margin: 0 auto;
    padding: 10px;
    color: whitesmoke;

}
@media (max-width:760px){
    .Layout{
        width:100%;
        margin: 0 auto;
        background-color:  white;
        
        margin-top: 70px;
    } 
    .Green{
        background-color: rgb(107, 83, 4);
        width:80%;
        margin: 0 auto;
        padding: 10px;
        color: whitesmoke;
    
    }

    .Brown{
        background-color: rgb(83, 69, 23);
        width:80%;
        margin: 0 auto;
        padding: 10px;
        color: whitesmoke;
    
    }
}